version: '3.9'
services:
  mern-tut:
    build:
      context: ./
    ports:
      - "5555:5555"
      - "9229:9229"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development
      - JWT_SECRET=mynameissiat
    command: 
      - npm
      - run 
      - server